<!-- member content -->
<div class="container">
    <div class="container">
      <div class="card-product p-1 text-left" style="background-color:transparent;">
      <p>Total number of users: <%= @users.count %></p>
      <% @users.order(created_at: :asc).each do |user| %>
        <% if user.avatar.attached? == true %>
          <%= cl_image_tag user.avatar.key, transformation: [
            {effect: "cartoonify"},
            {radius: "max"},
            {effect: "outline:100", color: "lightblue"},
            {background: "lightblue"},
            {height: 300, crop: "scale"}
          ] %>
        <% end %>
        <div style="margin-left: 16px">
          <h1><%= user.username %></h1>
          <h2><%= user.role %></h2>
          <h3><%= user.steam_name %></h3>
        </div>
      <% end %>
      </div>
    </div>
</div>
<!-- media -->
