<!-- member content -->
<%# <div class="container"> %>
<h1>ユーザー人数: <%= @users.count %>名</h1>
    <div class="card-columns">
      <% @users.order(created_at: :asc).each do |user| %>
      <div class="card">
        <% if user.avatar.attached? == true %>
          <%= cl_image_tag user.avatar.key, transformation: [
            {effect: "cartoonify"},
            {radius: "max"},
            {effect: "outline:100", color: "lightblue"},
            {background: "lightblue"},
            {quality: "auto", fetch_forma: "auto"},
            {height: 176, crop: "fit"}
          ] %>
        <% else %>
          <%= image_tag "https://cdn.discordapp.com/attachments/812567934551457805/813051684212310036/HLL.png", class: "non-avatar"%>
        <% end %>
        <div class="card-body">
          <h1 class="card-title"><%= user.username %></h1>
          <h2 class="card-text"><%= user.role %></h2>
          <h3 class="card-text"><%= user.steam_name %></h3>
          <p class="card-text"><small class="text-muted"><%= user.created_at.strftime("%d %b %Y") %>から参加</small></p>
        </div>
      </div>
      <% end %>
    </div>
<%# </div> %>
<!-- media -->
