<!-- member content -->
<%# <div class="container"> %>
<p>Total number of users: <%= @users.count %></p>
    <div class="card-columns">
      <% @users.order(created_at: :asc).each do |user| %>
      <div class="card">
        <% if user.avatar.attached? == true %>
          <%= cl_image_tag user.avatar.key, transformation: [
            {effect: "cartoonify"},
            {radius: "max"},
            {effect: "outline:100", color: "lightblue"},
            {background: "lightblue"},
            {height: 300, crop: "scale"}
          ] %>
        <% else %>
        
        <% end %>
        <div class="card-body">
          <h1 class="card-title"><%= user.username %></h1>
          <h2 class="card-text"><%= user.role %></h2>
          <h3 class="card-text"><%= user.steam_name %></h3>
        </div>
      </div>
      <% end %>
    </div>
<%# </div> %>
<!-- media -->
