<div class="container bootstrap snippets bootdey">
    <div class="profile kard">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <% if @user.avatar.attached? == true %>
                          <%= cl_image_tag @user.avatar.key, height: 200, width: 200, crop: :fill %>
                        <% else %>
                            <%= image_tag "question_mark.png", class: "image-card-extra" %><br><%= "アバター追加してください" %>
                        <% end %>
                    
                    </div>
                    <div class="col-md-7">
                        <h2><%= @user.role %> <%= @user.admin? ? "(アドミン)" : "" %></h2>
                        <span><strong>Email:</strong> <%= @user.email %></span><br>
                        <span><strong>Steam名:</strong> <%= @user.steam_name %></span><br>
                        <span><strong>Discord名:</strong> <%= @user.discord %></span><br>
                        <span><strong>得意役割:</strong> <%= @user.role %></span><br>
                        <hr>
                        <p><strong>自己紹介:</strong> <%= @user.bio %></p>
                    </div>
                </div>    
            </div>
    	</div>
    </div>
</div>   
<%= link_to "編集", edit_user_path(current_user.id), class:"btn-treehouse" %>