<div>
    <%= simple_form_for [ @user, @event ] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :day, as: :date, html5: true %>
        <%= f.input :start_time, as: :time, html5: true %>
        <%= f.input :end_time, as: :time, html5: true %>
        <%# <%= f.input :XZY, as: :file %>
        <%= f.submit "Create Topic" %>
    <% end %>
</div>