<div>
    <%= simple_form_for [ @user, @review ] do |f| %>
        <%= f.input :topic %>
        <%= f.input :content %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create Topic" %>
    <% end %>
</div>