    <div class="form-login">
        <%= simple_form_for [ @user, @review ] do |f| %>
            <%= f.input :topic %>
            <%= f.input :content %>
          <%# <%= f.input :XZY, as: :file %>
            <%= f.submit "Create Topic" %>
        <% end %>
    </div>