<h1 class="top-bar">Forum</h1>
<div>
    <% unless current_user.nil? %>
    <p>
        <%= link_to "HLL Wiki Create", new_user_review_path(current_user.id), style: 'color: red;' %>
    </p>
    <% end %>
</div>
<div class="col-12 d-flex flex-column justify-content-center align-items-center">
<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Views</th>
            <th>Author</th>
            <th>Publish Date</th>
            <th>No. of Comments</th>
        </tr>
        <div class="topics">
            <% @reviews.order(created_at: :desc).each do |review| %>
            <div class="topic">
                <h4 class="title"><%= link_to review.topic, user_review_path(review.user.id, review) %></h4>
                <td><%= review.content %></td>
                <td><%= review.user.email %></td>
                <td><%= time_ago_in_words(review.created_at)%>前に発表した</td>
                <td>Comments: <%= review.comments.count %></td>
            </div>
            <td>
                <% if review.user == current_user || current_user.admin? %>
                    <%= link_to "Delete", user_review_path(review.user.id, review), method: :delete, data: { confirm: 'Are you sure?' }%>
                <% end %>
            </td>
            <% end %>
        </div>
        </tr>
    </table>
</div>
<div class="topics">
<% @reviews.order(created_at: :desc).each do |review| %>
    <div class="topic">
        <h4 class="title"><%= link_to review.topic, user_review_path(review.user.id, review) %></h4>
        <p><%= review.content %></p>
        <p><%= review.user.email %></p>
        <p><%= time_ago_in_words(review.created_at)%>前に発表した</p>
        <p>Comments: <%= review.comments.count %></p>
    </div>
<% end %>
</div>
</div>
