<h1>HI THERE</h1>
<div>
    <% unless current_user.nil? %>
    <p>
        <%= link_to "HLL Wiki Create", new_user_review_path(current_user.id), style: 'color: red;' %>
    </p>
    <% end %>
</div>
<div class="topics">
<% @reviews.order(created_at: :desc).each do |review| %>
    <div class="topic">
        <h4 class="title"><%= link_to review.topic, user_review_path(review, review.user.id) %></h4>
        <p><%= review.content %></p>
        <p><%= review.user.email %></p>
        <p><%= time_ago_in_words(review.created_at)%>前に発表した</p>
    </div>
<% end %>
</div>
